.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pagination li {
  list-style: none;
  margin: 16px 0;
}

.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-family: Poppins;
  font-size: 18px;
  margin-right: 16px;
  background-color: var(--color-primary);
  color: var(--color-title-in-primary);
}

.pagination li a.page-link.active {
  background-color: var(--color-secondary);
}