.page-header {
  background-color: var(--color-primary);
  width: 100vw;
  height: 120px;
  display: flex;
  justify-content: center;
  padding: 0 150px;
}

.header-link {
  color: var(--color-title-in-primary);
  font-family: Poppins;
  text-decoration: none;
  margin-top: 30px;
  font-size: 18px;
  position: relative;
  transition: font 0.2s;
}

.header-link:hover {
  font-weight: bold;
  font-size: 20px;
}

.header-link.active {
  font-weight: bold;
  color: var(--color-secondary);
}

.header-link + .header-link {
  margin-left: 24px;
}